### Shalom Fernando
Ra: 91716247

## Exercicio 1

In [1]:
pi = 3.14;
raio = input('Digite o raio: ');
raio = int(raio);
Area = pi*(raio*raio);
print( Area);

Digite o raio: 10
314.0

## Exercicio 2

In [ ]:
lado = input('digite: ');
lado = int(lado);
area = lado ** 2;
print(area*2);

## Exercicio 3

In [ ]:
Qtd_salario = input('Salario a hr: ');
Qtd_salario = int(Qtd_salario);
Qtd_hr = input ('Horas trabalhadas :');
Qtd_hr = int(Qtd_hr);
valor = Qtd_salario * Qtd_hr;
print(valor);

## Exercicio 4

In [ ]:
f = input('Digitr a temperatura em graus Farenheit :');
f = int(f);
c = (5 * (f-32) / 9);
print(c);

## Exercicio 5

In [ ]:
C =  input('Temperatura em grau celsius: ');
C = int(C);
F = (C * 9/5) + 32; 
print(F);

## Exercicio 6

In [ ]:
num = int(input('Valor inteiro: '));
num2 = int(input('Valor inteiro: '));
num3 = int(input('Valor real: '));

a = (num ** 2) * (num2/2);
b = (num ** 3) + num3;
c = num3 ** 3;
print('O produto do dobro do primeiro com metade do segundo: ', a  , '\nA soma do triplo do primeiro com o terceiro: ',b,'\nO terceiro elevado ao cubo: ',c);

# Exercicio 7

In [ ]:
peso = float(input('Peso: '));
excesso = 0;
multa = 0;
if peso > 50:
    peso = peso - 50;
    excesso = peso;
    multa = excesso * 4.00;
    print('Excesso: ',excesso,'Quilos','\nMulta: R$', multa);
else:
    print('Excesso: ',excesso,'\nMulta: R$', multa);

## Exercicio 8

In [ ]:
Qtd_salario = input('Salario a hr: ');
Qtd_salario = int(Qtd_salario);
Qtd_hr = input ('Horas trabalhadas :');
Qtd_hr = int(Qtd_hr);
valor = Qtd_salario * Qtd_hr;

IR = 0.011 * valor;
INSS = 0.08 * valor;
SINDICATO = 0.05 * valor;
QTD_LIQUIDO = ((valor - INSS)-SINDICATO )- IR;

print('Salário Bruto : R$',valor,'\nImposto de Renda(11%) : R$',IR,'\nINSS (8%) : R$',INSS,'\nSindicato ( 5%) : R$',SINDICATO,'\nSalário Liquido : R$',QTD_LIQUIDO)

## Exercicio 9

In [ ]:
valor = input('digite a primeira string: ');
valor1 = input('digite a segu)nda string: ');

print('String 1: ', valor);
print('String 2: ', valor1);

print('Tamanho de "',valor,'": ',len(valor));
print('Tamanho de "',valor1,'": ',len(valor1));

if (len(valor1) == len(valor)):
    print('As duas strings são de tamanhos iguais');
else:
    print('As duas strings são de tamanhos diferentes');
    

if(valor == valor):
    print('As duas strings possuem conteúdo diferente');
else:
    print('As duas strings possuem conteúdo diferente');

## Exercicio 10

In [26]:
digito = input('Digite a string :');

print(digito[::-1].upper());

Digite a string :10
01

## Exercicio 11

In [48]:
vet = ['Janeiro','Fevereiro','Março','Abril','Maio','junho','Julho','Agosto','Setembro','Outubro','Novembro','Desembro'];

data = str(input('Digite a data: '));

if(len(data) == 8):
     
    auxDt = data[0] + data[1] + '/' + data[2] + data[3]+ '/' + data[4]+ data[5] + data[6] + data[7];
    print(auxDt);
    dia,mes,ano = auxDt.split('/');
    b = vet[int(mes)-1];
    print('Você nasceu em ',dia,'de',b,'de',ano);
    
if(len(data) == 10):
     
    auxDt = data;
    print(auxDt);
    dia,mes,ano = auxDt.split('/');
    b = vet[int(mes)-1];
    print('Você nasceu em ',dia,'de',b,'de',ano);

Digite a data: 07/08/1999
07/08/1999
Você nasceu em  07 de Setembro de 1999

In [46]:
vet = ['Janeiro','Fevereiro','Março','Abril','Maio','junho','Julho','Agosto','Setembro','Outubro','Novembro','Desembro'];

data = str(input('Digite a data: '));    
auxDt = data[0] + data[1] + '/' + data[2] + data[3]+ '/' + data[4]+ data[5] + data[6] + data[7];
print(auxDt);
dia,mes,ano = auxDt.split('/');
b = vet[int(mes)-1];
print('Você nasceu em ',dia,'de',b,'de',ano);

Digite a data: 07081999
07/08/1999
Você nasceu em  07 de Agosto de 1999

## Execicio 12